*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow:hidden; */
}

@font-face {
    font-family: 'warioland4';
    src: url('assets/Warioland4chmc-VApe.ttf');
}

body {
    background-image: url(assets/tiledstone.jpg);
}

ul, ol, li {
    list-style: none;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-shadow: inherit;
    text-align: left;
}

hr {
    box-shadow: 6px 6px #1117;
    font-weight: 600;
    color: white;
}

@media only screen and (min-width: 636px) {
    #screen {
        margin: auto;
        display: flex;
        width: 100vw;
        height: 100vh;
    }

    #interface {
        margin: auto;
        display:flex;
        min-width: 680px;
        max-width: 864px;
        height:fit-content;
    }

    .container {
        margin: 2px;
        padding: 4px;
        display: flex;
        flex-direction: column;
        /* width: fit-content;
        height: fit-content; */
    }

    #centerContainer {
        position: relative;
    }

    #viewer {
        margin: 4px;
        border: 8px black solid;
        box-shadow: 6px 6px #0007;
        width: calc(99vh - 256px);
        min-width:340px;
        max-width:512px;
        height: calc(99vh - 256px);
        min-height:340px;
        max-height:512px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    img {
        object-position: center;
        object-fit: contain;
    }

    .box {
        margin: 4px;
        display: block;
        padding: 6px 12px;
        border: solid white 5px;
        border-radius: 15px;
        box-shadow: 6px 6px #1117;
        text-shadow: 6px 6px #1117;
        background: #333b;
        color: white;
        font-family: 'warioland4';
        font-weight: bold;
        line-height: calc(1rem + 0.5rem);
    }

    .boxHeader { 
        display: block;
        text-align: center;
        font-size: 1.17rem;
        font-weight: bold;
    }

    #dialogueBox {
        margin: 4px;
        bottom: 0px;
        width: calc(99vh - 256px);
        min-width: 340px;
        max-width: 512px;
        height: calc((89vh + (184px - 23vh)) - (99vh - 256px));
        min-height: 168px;
    }

    #menuContainer {
        width: 160px;
        height: calc(100vh - 32px);
        min-height: 600px;
        max-height: 704px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }

    .menu {
        margin: 2px;
        width: 150px;
        height: calc(25vh - 2px);
        min-height: 128px;
        max-height: 168px;
    }

    #gemstone {
        margin: 2px;
        border: solid silver 1px;
        border-radius: 50%;
        background-color: #ddde;
        box-shadow: 10px 6px #0005;
        height: calc(20vh - 2px);
        max-height: 165px;
        width: calc(25vh - 2px);
        max-width: 150px;
    }
}

@media only screen and (max-width: 636px) {

    #screen {
        margin: auto;
        display: flex;
        width: 99vw;
        height: 99vh;
    }

    #interface {
        margin: auto;
        display: flex;
        flex-direction: column;
        width: calc(99vw - 10px);
        min-width: 360px;
        max-width: 636px;
        height: 99vh;
        max-height: 667px;
    }


    #centerContainer {
        display: flex;
        flex-direction: column;
        width: calc(99vw - 10px);
        top: 0;
        margin: 2px auto;
    }

    #viewer {
        margin: auto;
        border: 6px black solid;
        box-shadow: 3px 3px #0007;
        width: calc(99vw - 10px);
        min-width:340px;
        max-width:512px;
        height: calc(99vw - 10px);
        min-height:340px;
        max-height:512px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    img {
        object-position: center;
        object-fit: contain;
    }

    .box {
        margin: 0px;
        padding: 3px 5px;
        border: solid white 3px;
        border-radius: 10px;
        box-shadow: 3px 3px #1117;
        text-shadow: 3px 3px #1117;
        background: #333b;
        color: white;
        font-family: 'warioland4';
        font-size: .875rem;
        font-weight: 600;
        line-height: calc(.75rem + 0.35rem);
    }

    .boxHeader { 
        display: block;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        margin: 3px;
    }

    #dialogueBox {
        margin: auto;
        width: calc(99vw - 10px);
        min-width: 340px;
        max-width: 640px;
        min-height: 168px;
        max-height: 360px;
    }

    #menuContainer {
        display: flex;
        margin: 2px auto;
        width: calc(99vw - 10px);
        min-width: 340px;
        max-width: 640px;
        height: fit-content;
        min-height: 90px;
        max-height: 128px;
    }

    .menu {
        margin: auto;
        display: inline-block;
        width: calc(24vw - 2px);
        max-width: 128px;
        height: calc(26vw);
        min-height: 128px;
        max-height: 180px;
        padding: 2vw;
    }

    #inventory {
        min-width: 100px;
    }

    #actions {
        min-width: 80px;
    }

    #navigation {
        min-width: 120px;
    }

    #gemstone {
        margin: 2px auto;
        display: inline-block;
        border: solid silver 1px;
        border-radius: 50%;
        background-color: #ddde;
        box-shadow: 6px 6px #0005;
        width: calc(23vw - 4px);
        min-width: 30px;
        max-width: 128px;
        height: calc(26vw);
        min-height: 128px;
        max-height: 180px;
    }
}