*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: calc(1rem + 0.5rem);
}

@font-face {
    font-family: 'warioland4';
    src: url('assets/Warioland4chmc-VApe.ttf');
}

ul, ol, li {
    list-style: none;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-shadow: inherit;
}

body {
    background-image: url(assets/tiledstone.jpg);
    font-family: 'warioland4';
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    box-shadow: 10px 6px #1117;
    font-weight: 600;
    color: white;
}

.box {
    padding: 8px 16px;
    border: solid white 5px;
    border-radius: 15px;
    box-shadow: 10px 6px #1117;
    text-shadow: 10px 6px #1117;
    background: #333b;
    color: white;
}

.boxHeader { 
    display: block;
    text-align: center;
    font-size: 1.17rem;
    margin: 0 2px 2px 2px;
    font-weight: bold;
}

#interface {
    display: grid;
    grid-auto-columns: 16px;
    gap: 4px;
    grid-auto-rows: 16px;
    margin: auto;
}

#viewer {
    grid-column: 8 / 35;
    grid-row: 1 /28;
    border: 8px black solid;
    box-shadow: 10px 6px #0007;
    margin: 4px;
}

#dialogueBox {
    grid-column: 8 / 35;
    grid-row: 23 / 32;
    margin: 4px;
}

#actions {
    grid-column: 1 / 9;
    grid-row: 24 / 32;
    margin: 4px;
}

#navigation {
    grid-column: 34 / 42;
    grid-row: 24 / 32;
    margin: 4px;
}

#inventory {
    grid-column: 34 / 42;
    grid-row: 16 / 24;
    margin: 4px;
}

#gemstone {
    grid-column: 1 / 9;
    grid-row: 16 / 24;
    border: solid silver 1px;
    border-radius: 50%;
    background-color: #ddde;
    box-shadow: 10px 6px #0005;
    margin: 4px;
}






